<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Shared Service Value</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" [routerLink]="['one']" routerLinkActive="active">One</a>
      <a class="nav-link" [routerLink]="['two']" routerLinkActive="active">Two</a>
      <a class="nav-link" [routerLink]="['three']" routerLinkActive="active">Three</a>
    </div>
  </div>
  <span class="navbar-text">
    Nivel: {{nivel}} | Cambiar nivel: 
    <div class="btn-group">
      <button class="btn btn-primary" [ngClass]="{'active':esNivel(1)}" (click)="setearNivel(1)">
        1
      </button>
      <button class="btn btn-primary" [ngClass]="{'active':esNivel(2)}" (click)="setearNivel(2)">
        2
      </button>
      <button class="btn btn-primary" [ngClass]="{'active':esNivel(3)}" (click)="setearNivel(3)">
        3
      </button>
    </div>
  </span>
</nav>
